<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

<h1>Login</h1>
<form name="f" th:action="@{/login}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p><input type="submit" value="Submit" /></p>
    <a href="registration.html">Register here</a>
</form>
</body>
</html>