<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create Admin</title>
</head>
<body>
<div class = "admin-form">
    <form action="#" th:action="@{/admin/createAdmin}" th:object="${registrationForm}"
          method="post"><h2 class="text-center">Create Admin</h2>
        <div><label> Name : <input type="text" name="name" required="true"/> </label></div>
        <div><label> User Name : <input type="text" name="userName" required="true"/> </label></div>
        <div><label> Password: <input type="password" name="password" required="true"/> </label></div>
        <div><label> Re-enter Password: <input type="password" name="reenterpassword" required="true"/> </label></div>
        <div><select name="role">
            <option value="Admin">Admin</option>
        </select></div>
        <div><input type="submit" value="Sign Up"/></div>
    </form>
    <a href="homePage">Cancel</a>
</div>
</body>
</html>
