<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Driver</title>
</head>
<body>
    <h2>Driver Information</h2>
    <table border="2" align="center">
        <tr>
            <td>routeName</td>
            <td>startTime</td>
            <td>endTime</td>
            <td>driver</td>
        </tr>
        <tr>
        </tr>
        <tr th:each ="i:${unselectRides}">
            <td><input type="radio" name="diverPick" value="${i.routeName}" /></td>
            <td th:text = "${i.routeName}"></td>
            <td th:text = "${i.startTime}"></td>
            <td th:text = "${i.endTime}"></td>
            <td th:text = "${i.driver}"></td>
        </tr>
    </table>
    <div align="center"><input type="submit" value="Submit"/></div>
<a href="homePage">Back</a>

</body>

</html>