<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rides</title>
</head>
<body>
<h1>Available Rides</h1>
<table>
    <tr>
        <td>Route Name</td>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Driver</td>
    </tr>
    <tr th:each="ride: ${availableRides}">
        <td th:text="${ride.routeName}">Ride Name</td>
        <td th:text="${ride.startTime}">Starting Time</td>
        <td th:text="${ride.endTime}">Ending Time</td>
        <td th:text="${ride.driver}">Driver</td>
    </tr>
</table>
</body>
</html>